/* BLUE STYLES */


@media (min-width: 319px) {
  /* IMAGE GRID STYLES */
  .blue{
    display: grid;
  }
	.image-grid {
    position: relative;
    top: 2em;
    width: 95%;
    height: 75%;
    margin: 0 0 0 3.5%;
    display: grid;
    grid-auto-rows: 27vw;
    grid-template-columns: 50% 50%;
    grid-gap: 0.4em;
    overflow: scroll;
    overflow-x: hidden;
}
	}
  .image-cell {
		height: 100%;
    width: 95%;
    overflow: hidden;
    border: 1px solid;

	}
	.image-link-container{
		display: grid;
    height: inherit;
    width: inherit;

	}

	.thumbnail-image{
		max-width: 130%;
		max-height: 100%;
		justify-self: center;
	}

	.thumbnail-image.landscape {
		margin: 0 7.8vw;
	}

	.thumbnail-image.portrait {
		margin: 0 16vw;
	}
}

@media (min-width: 667px) {
	.image-grid {
		grid-auto-rows: 17vw;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.thumbnail-image.landscape {
		margin: 0 5.77vw;
	}
	.thumbnail-image.portrait {
		margin: 0 11vw;
	}
}

@media (min-width: 813px) {
	.image-grid {
		grid-auto-rows: 12vw;
		grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 87%
	}
	.thumbnail-image.landscape {
		margin: 0 4.8vw;
	}
	.thumbnail-image.portrait {
		margin: 0 8.5vw;
	}
}

@media (min-width: 1100px) {
	.image-grid {
		grid-auto-rows: 11vw;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.thumbnail-image.landscape {
		margin: 0 2.99vw;
	}
	.thumbnail-image.portrait {
		margin: 0 6.3vw;
	}
}
