
figcaption a {
    color: black;
}
figcaption a:visited {
    color: black;
}
/* .cart {
	display: none;
} */


@media only screen and (min-width: 319px) {
	/* BACKGROUND CSS */
	header, p, figcaption {
		font-size: 0.7em;
		font-family: helvetica;
	}
    
    .blue-fake {
        position: fixed;
        width: 83%;
        height: 83%;
        top: 1.5em;
        left: 0.7em;
        border: 1px solid blue;
        background-color: white;
        z-index: 1;
        display: grid;
    }
    .green-fake {
        position: fixed;
        width: 83%;
        height: 83%;
        border: 1px solid #32CD32;
        background-color: white;
        top: 3em;
        left: 1.4em;
        z-index: 2;
    }
    .red-fake {
        position: fixed;
        width: 83%;
        height: 83%;
        border: 1px solid red;
        background-color: white;
        top: 4.5em;
        left: 2.1em;
        z-index: 2;
        overflow: scroll;
        overflow-x: hidden;
    }

    .fake-text {
        margin: 0.5em 0 0 1em;
    }
    .blue-text-fake {
        color: blue;
    }
    .green-text-fake {
        color: #32CD32;
    }
    .red-text-fake {
        color: red;
    }
    /*  ARTIST PAGE STYLES  */

    .artist-page-container {
		position: absolute;
		top: 6em;
		left: 2.8em;
		width: 83%;
		height: 83%;
		border: 1px solid;
		background-color: white;
		justify-self: center;
		overflow-y: scroll;
		z-index: 2;
	}
    .image-wrapper {
        display: grid;
    }
    .artist-work {
        position: relative;
        margin: 1em 0 0 0;
        width: 85%;
        justify-self: center;
    }
    .image-caption {
        position: relative;
        height: 1.2em;
        top: 1.5em;
        left: 7%;
        font-weight: 400;
        font-size: 0.8em;
    }
    .button-container {}

    .add-item-button {
		position: relative;
        width: 4em;
        height: 2.1em;
        border: 1px solid; 
		background-color: white;
    }
    .profile-spacer {
        height: 10em;
        /* width: 99vw; */
    }
}

@media only screen and (max-height: 414px){
    .tab-layer {
        height: 100%;
    }
}


@media only screen and (min-width: 813px) {
	header, p, figcaption {
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 400;
	}
	.tab-layer, .artist-page-container{
        position: fixed;
        width: 68%;
        height: 100%;
	}
	.blue-fake {
        left: 8.5%;
        top: 2em;
    }
    .green-fake {
        top: 4em;
        left: 17%;
    }
    .red-fake {
        top: 6em;
        left: 25.5%;
    }
	
	.artist-page-container {
		top: 8em;
        left: 12em;
	}
	.image-wrapper {
		display: block;
	}
    .artist-work.portrait {
        width: 59%;
        max-width: 28em;
        margin: 2em 0 0 2em;
        float: left;
	}
	.artist-work.landscape {
        width: 73%;
        float: left;
        /* max-width: 48em; */
        margin: 2em 0 0 2em;
		
	}
	.image-caption{
		top: 2em;
        left: 2em;
        margin: 0.5em 0 0 0;
        width: 93%;
        height: auto;
	}
	.profile-spacer {
        height: 16em;
    }
} 

@media only screen and (min-height: 813px) and (min-width: 700px) {
    .arrow-nav {
        height: 40%;
        width: 100%;
        /* border: 6px solid orange; */
        position: absolute;
        top: 40%;
        z-index: 4;
    }
    
    .left {
        position: relative;
        width: 45%;
        height: 100%;
        /* border: 3px solid blue; */
        float: left;
        cursor: url(../artist_pages/left.png),auto;	
    }
    .right {
        position: relative;
        width:45%;
        height: 100%;
        /* border: 3px solid red; */
        float: right;
        cursor:url(../artist_pages/right.png),auto;	
    }
}

@media only screen and (min-height: 950px) {
    
	.artist-work.portrait {
        max-width: 31.5em;
	}
}

@media only screen and (min-height: 1050px) {
	.artist-work.portrait {
        max-width: 35.5em;
	}
}

@media only screen and (min-height: 1200px) {
	.artist-work.portrait {
        max-width: 41.5em;
	}
}
@media only screen and (min-height: 1350px) {
	.artist-work.portrait {
        max-width: 47.5em;
	}
}
@media only screen and (min-height: 1500px) {
	.artist-work.portrait {
        max-width: 64em;
	}
}

