
/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BREAK POINTS */
@media (min-width: 319px) {
    .red {
        position: fixed;
        width: 83%;
        height: 69%;
        border: 1px solid red;
        background-color: white;
        top: 6.9em;
        left: 3em;
        z-index: 2;
        overflow: scroll;
        overflow-x: hidden;
        /* display: none; */
	}
    .red-text {
        color: red;
        margin: 0em 1em 0 1em;
        text-align: left;
        font-size: 0.7em;
        font-weight: 400;
	}
	.red-text::selection{
        background-color: red;
        color: white;
    }

	.text-block {
		margin: 0em 1em 1em 1em;
	}
	.red-header {
		margin: 1em 0 1em 1em;
	}
    .red-link {
        color: red;
    }
    .red-link:visited {
        color: red;
	}
    .spacer-red {
        width: 100vw;
        height: 15em;
    }

}
 /* MOBILE LANDSCAPE */
@media only screen and (max-height: 414px){
    .red {
        height: 100%;
       
    }
  }
/* DESKTOP STYLES */
@media (min-width: 812px) {
    .red {
        width: 68%;
        top: 9em;
        left: 25.5%;
    }
    .red-text {
        margin: 0em 2em 0em 2em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4em;
	}
	.text-block {
		margin: 0em 2em 2em 2em;
	}
	
	.red-header {
		margin: 1.5em 0 1em 2em;	
    }
}

@media (min-width: 815px) {
    .red{
        height: 100%;
    }
}