
/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BREAK POINTS */
@media (min-width: 319px) {
    .red {
        position: fixed;
        width: 83%;
<<<<<<< HEAD
        height: 69%;
        border: 1px solid red;
=======
        height: 100vh;
        border: 2px solid red;
>>>>>>> cb9241f5b3276ca515658b6644f08ba29fe1e46d
        background-color: white;
        top: 6.9em;
        left: 3em;
        z-index: 2;
        overflow: scroll;
        overflow-x: hidden;
        /* display: none; */
	}
    .red-text {
        color: red;
        margin: 0em 1em 0 1em;
        text-align: left;
<<<<<<< HEAD
        font-size: 0.7em;
        font-weight: 400;
	}
	.red-text::selection{
        background-color: red;
        color: white;
    }
=======
	}
>>>>>>> cb9241f5b3276ca515658b6644f08ba29fe1e46d

	.text-block {
		margin: 0em 1em 1em 1em;
	}
	.red-header {
		margin: 1em 0 1em 1em;
	}
    .red-link {
        color: red;
    }
    .red-link:visited {
        color: red;
	}
    .spacer-red {
        width: 100vw;
        height: 15em;
    }

}
<<<<<<< HEAD
 /* MOBILE LANDSCAPE */
@media only screen and (max-height: 414px){
    .red {
        height: 100%;
       
    }
  }
=======
>>>>>>> cb9241f5b3276ca515658b6644f08ba29fe1e46d
/* DESKTOP STYLES */
@media (min-width: 812px) {
    .red {
        width: 68%;
        top: 9em;
        left: 25.5%;
    }
    .red-text {
<<<<<<< HEAD
        margin: 0em 2em 0em 2em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4em;
=======
		margin: 0em 2em 0em 2em;
>>>>>>> cb9241f5b3276ca515658b6644f08ba29fe1e46d
	}
	.text-block {
		margin: 0em 2em 2em 2em;
	}
	
	.red-header {
		margin: 1.5em 0 1em 2em;	
    }
<<<<<<< HEAD
}

@media (min-width: 815px) {
    .red{
        height: 100%;
    }
}
=======
>>>>>>> cb9241f5b3276ca515658b6644f08ba29fe1e46d
